<div class="row">
  <div class="col-xs-6 col-md-4">
  	<%= image_tag('logo.jpg', class:"img-responsive" ) %>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-8">
  	<h1> శ్రీ మాత్రేనమః </h2> 
  		<p>
  			Yearly Events:
      </p>
      <ul>
			  <li>Sankranthi  - January </li>
			  <li>Veda Sadasu  - Feb 9th  </li>
			  <li>Maha Shiva Rathri  - March </li>
			  <li>Ugadhi  - March/April </li>
			  <li>Laxmi Narayana Kalyanam  -  June/July (Tholi Ekadasi)  </li>
			  <li>Chandi Homam -  June/July (Tholi Ekadasi)  </li>
			  <li>Dasara - Sep/Oct </li>
			  <li>Diwali  - Oct/Nov </li>
			</ul>
			<p>
  			Monthly:
      </p>
      <ul>
			  <li> Homam </li>
			</ul>

			<p>
  			Weekly:
      </p>
      <ul>
			  <li> Abhishekam to Aishwarya Laxmmi </li>
			</ul>
  </div>
</div>