
<div class="table-responsive">
  <h2>About Us</h2>
    <div class="col-xs-6 col-md-4">
    <%= image_tag('logo.jpg', class:"img-responsive" ) %>
  </div>
  <blockquote>
    <p>
      Aishwarya Nilaya Peetam was established on <i>"THOLI EKADASI"</i> in the year 2004 at Pedavegi, West Godavari District. This peetam mainly focus to carry forward the hindu traditional values , culture and dharma to next generation. We are so happy if one person 
      got understood and follows his Dharma, culture and values through this site. We use technology like websites,blogs and social media to reach every one of our circle.

      <b>Shri Naga kama Raju garu</b> is Guru of this peetam. Shri Guruji main goal is to invoke the hindu traditional values,culture and dharma in each and every hindu to protect the Hindu religion 
    </p>
  </blockquote>
  <h3> 
</div>